.root {
    -fx-font-family: "Roboto Medium";
    -fx-font-style: oblique;
}

.menu-bar {
    -fx-background-color: #3C3F41;
}

.menu .label {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
    -fx-text-fill: #ADADAD;
    -fx-font-weight: bold;
}

.menu-item .label {
    -fx-text-fill: #2B2B2B;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0), 0, 0, 0, 0);
}

#app {
    -fx-background-color: #2B2B2B;
}

#title {
    -fx-font-family: "Beyond The Mountains";
    -fx-font-size: 44px;  /* 1080p */
    /*-fx-font-size: 62px;    /* 4k */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 2, 1, 1, 1);
}

#unitText {
    -fx-font-style: normal;
    -fx-font-size: 30px;  /* 1080p */
    /*-fx-font-size: 42px;    /* 4k */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 2, 1, 1, 1);
}

.quiz {
    -fx-font-size: 18px; /* 1080p */
    /*-fx-font-size: 25px;    /* 4k */
}

Text {
    -fx-font-size: 15px; /* 1080p */
    /*-fx-font-size: 21px;  /* 4k */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
    -fx-fill: #ADADAD;
}

Label {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 1, 1, 1);
    -fx-text-fill: #ADADAD;
}

Line {
    -fx-stroke: #3C3F41;
}

.bordered {
    -fx-border-color: #ADADAD;
    -fx-border-radius: 10px;
}

Button {
    -fx-pref-width: 90px;
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 5 15 5;
    -fx-font-size: 12px;  /* 1080p */
    /*-fx-font-size: 17px;    /* 4k */
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

Button:pressed {
    -fx-background-color:
            linear-gradient(#515151 0%, #161a16 25%, #262726 75%, #646464 100%),
            linear-gradient(#010201, #2a2a2a),
            linear-gradient(#8b8c8b 0%, #585758 20%, #313231 80%, #1e1e1e 100%),
            linear-gradient(#797979 0%, #605f60 20%, #292a29 80%, #1c1c1c 100%),
            linear-gradient(#6e6e6e 0%, #585858 50%, #494b49 51%, #272827 100%);
}

Hyperlink {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 2, 2, 2);
    -fx-text-fill: #ADADAD;
    -fx-font-size: 30px;     /* 1080p */
    /*-fx-font-size: 42px;        /* 4k */
}

Hyperlink:focused {
    -fx-border-style: hidden;
    -fx-background-color: #3C3F41;
}

.text-field {
    -fx-background-color: #3C3F41;
    -fx-text-fill: #ADADAD;
}

@font-face {
    src: url("../Fonts/beyond_the_mountains.ttf");
    src: url("../Fonts/SourceCodePro-Semibold.ttf");
    src: url("../Fonts/Roboto-Medium.ttf");
}

.text-area {
    -fx-font-family: "Source Code Pro Semibold";
    -fx-text-fill: #ADADAD;
    /*-fx-font-size: 18px;    /* 4k */
}

.text-area .content {
    -fx-background-color: #3C3F41;
}

.text-field {
    -fx-font-size: 18px;  /* 1080p */
    /*-fx-font-size: 25px;    /* 4k */
}

.fontSize {
    -fx-pref-width: 50px;
}

.fontButton {
    -fx-padding: 11 5 11 5;
    -fx-pref-width: 40px;
}
